@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue' , cursive;
    --fonte-android: 'Android' , cursive;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    min-height: 150px;
    padding-top: 35px;
}

header > h1 {
    font-weight: normal;
    font-size: 4em;
    margin-bottom: 20px;    
    color: white;
    font-family: var(--fonte-destaque);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.452);
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.452);
}

nav {
    background-color: var(--cor5);
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.425);
    padding: 10px;
}

nav > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition-duration: .5s;
    color: var(--cor1);

}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {

    padding: 20px;
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
    margin-bottom: 30px;
    border-radius: 0px 0px 20px 20px;
}

main  h1 {
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-weight: normal;
    font-size: 1.9em;
}

main h2 {
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.4em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 0.4em;
    font-weight: normal;
}

main p {
    text-align: justify;
    margin: 15px 0px;
    text-indent: 1em;
    line-height: 1.5em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
    border-radius: 5px;
    transition-duration: 1s;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
    background-color: var(--cor2);
}

main img {
    width: 100%;

}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    margin: 0px -20px 30px -20px;
    padding-top: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor3);
    border-radius: 10px;
    padding: 10px;
}

aside > h3 {
    color: white;
    background-color: var(--cor4);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

a.externo::after {
    content: '\00A0\1F517';
}

footer {
    background-color: var(--cor3);
   font-weight: bold;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    max-width: 1000px;
}